{% extends "layouts/app.twig" %}

{% block title %}{{ __('Dashboard') }}{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="col-12">
            {% include 'partials/flash.twig' %}
              <div class="row row-cards mb-3">
                <div class="col-sm-6 col-lg-3">
                  <a class="card card-link" href="{{route('listOrders')}}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-orange-lt text-orange avatar avatar-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M17 17h-11v-14h-2" /><path d="M6 5l14 1l-1 7h-13" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div>
                            <div class="h1 m-0">
                              {{ orderCount }} {{ __('Orders') }}
                            </div>
                            <div class="text-muted small opacity-75">
                              {{ pendingOrders }} {{ __('pending') }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="card card-link" href="{{route('listServices')}}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-green-lt text-green avatar avatar-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 4l-8 4l8 4l8 -4l-8 -4" /><path d="M4 12l8 4l8 -4" /><path d="M4 16l8 4l8 -4" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div>
                            <div class="h1 m-0">
                              {{ serviceCount }} {{ __('Services') }}
                            </div>
                            <div class="text-muted small opacity-75">
                              {{ expiringServices }} {{ __('expiring') }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="card card-link" href="{{route('invoices')}}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-indigo-lt text-indigo avatar avatar-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2" /><path d="M9 7l1 0" /><path d="M9 13l6 0" /><path d="M13 17l2 0" /></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div>
                            <div class="h1 m-0">
                              {{ invoiceCount }} {{ __('Invoices') }}
                            </div>
                            <div class="text-muted small opacity-75">
                              {{ unpaidInvoices }} {{ __('unpaid') }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-6 col-lg-3">
                  <a class="card card-link" href="{{route('ticketview')}}">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <span class="bg-red-lt text-red avatar avatar-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M15 15l3.35 3.35"></path><path d="M9 15l-3.35 3.35"></path><path d="M5.65 5.65l3.35 3.35"></path><path d="M18.35 5.65l-3.35 3.35"></path></svg>
                          </span>
                        </div>
                        <div class="col">
                          <div>
                            <div class="h1 m-0">
                              {{ ticketCount }} {{ __('Tickets') }}
                            </div>
                            <div class="text-muted small opacity-75">
                              {{ openTickets }} {{ __('unanswered') }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row row-cards mb-3">
                <div class="col-12">
                  <div class="card card-sm">
                    <div class="card-body">
                      <div class="d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between gap-3">
                        <div class="d-flex align-items-center gap-3 min-w-0">
                          <span class="avatar avatar-sm avatar-md bg-primary-lt text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                          </span>
                          <div class="min-w-0">
                            <div class="fw-semibold text-truncate">
                              {{auth.user.email}}
                            </div>
                            <div class="text-muted small">
                              {{ __('Client ID') }} #{{auth.user.id}}
                            </div>
                          </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between w-100 gap-3 ms-md-auto justify-content-md-end">
                          <div class="text-start text-md-end">
                            <div class="text-muted small">{{ __('Balance') }}</div>
                            <div class="fw-bold">
                              {{user.currency}} {{user.account_balance}}
                            </div>
                          </div>
                          <a href="{{route('profile')}}" class="btn btn-outline-primary btn-sm">
                            {{ __('Update') }}
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-cards">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header py-3">
                      <div class="d-flex align-items-center justify-content-between w-100">
                        <h3 class="card-title mb-0">{{ __('Recent orders') }}</h3>
                        <div class="btn-list">
                          <a href="{{ route('listOrders') }}" class="btn btn-sm btn-outline-secondary">
                            {{ __('All orders') }}
                          </a>
                          <a href="{{ route('createOrder') }}" class="btn btn-sm btn-primary btn-animate-icon btn-animate-icon-rotate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            {{ __('New order') }}
                          </a>
                        </div>
                      </div>
                    </div>

                    {% if orders %}
                      <div class="list-group list-group-flush">
                        {% for order in orders %}
                          <a href="/order/{{order.id}}" class="list-group-item py-3 list-group-item-action text-reset">
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex flex-column text-truncate">
                                <div class="d-flex align-items-center gap-2">
                                  <span class="fw-bold">#{{ order.id }}</span>
                                  <span>{{ order.service_type|replace({'.': ' '})|title }}</span>
                                </div>
                                <span class="text-secondary small">
                                  {{ order.created_at|split('.')[0] }}
                                </span>
                              </div>
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-secondary text-end">
                                  <span class="badge
                                    {% if order.status == 'active' %}bg-success text-success-fg
                                    {% elseif order.status == 'pending' or order.status == 'pending_setup' %}bg-warning text-warning-fg
                                    {% elseif order.status == 'failed' or order.status == 'failed_setup' or order.status == 'failed_renew' or order.status == 'suspended' %}bg-danger text-danger-fg
                                    {% elseif order.status == 'canceled' %}bg-secondary text-secondary-fg
                                    {% else %}bg-azure text-azure-fg
                                    {% endif %}">
                                    {{ order.status|replace({'_': ' '})|title }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </a>
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="d-flex justify-content-center my-2 p-2">
                        <span class="m-0">{{ __('No recent orders') }}</span>
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-header py-3">
                      <div class="d-flex align-items-center justify-content-between w-100">
                        <h3 class="card-title mb-0">{{ __('Support tickets') }}</h3>
                        <div class="btn-list">
                          <a href="{{ route('ticketview') }}" class="btn btn-sm btn-outline-secondary">
                            {{ __('All tickets') }}
                          </a>
                          <a href="{{ route('newticket') }}" class="btn btn-sm btn-primary btn-animate-icon btn-animate-icon-rotate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                            {{ __('New ticket') }}
                          </a>
                        </div>
                      </div>
                    </div>

                    {% if tickets %}
                      <div class="list-group list-group-flush">
                        {% for ticket in tickets %}
                          <a href="/ticket/{{ticket.id}}" class="list-group-item py-3 list-group-item-action text-reset">
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex flex-column text-truncate">
                                <div class="d-flex align-items-center gap-2">
                                  <span class="fw-bold">#{{ ticket.id }}</span>
                                  <span>{{ ticket.subject }}</span>
                                </div>
                                <span class="text-secondary small">
                                  {{ ticket.date_created|split('.')[0] }}
                                </span>
                              </div>
                              <div class="d-flex align-items-center gap-3">
                                <div class="text-secondary text-end">
                                  <span class="badge
                                    {% if ticket.status|lower == 'open' %}bg-success text-success-fg
                                    {% elseif ticket.status|lower == 'on_hold' or ticket.status|lower == 'pending' %}bg-warning text-warning-fg
                                    {% elseif ticket.status|lower == 'closed' %}bg-secondary text-secondary-fg
                                    {% else %}bg-azure text-azure-fg
                                    {% endif %}">
                                    {{ ticket.status|replace({'_': ' '})|title }}
                                  </span>
                                </div>
                              </div>
                            </div>
                          </a>
                        {% endfor %}
                      </div>
                    {% else %}
                      <div class="d-flex justify-content-center my-2 p-2">
                        <span class="m-0">{{ __('No recent support tickets') }}</span>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'partials/footer.twig' %}
      </div>
{% endblock %}